<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Load data</ng-template>
      <mat-form-field>
        <input matInput placeholder="your IKEM Id" formControlName="id" required>
      </mat-form-field>
      <div>
        <button mat-button (click)="loadPatientData()">Load</button>
        <button mat-button *ngIf="patientLoaded" matStepperNext>Next</button>
      </div>
    </form>
    <p *ngIf="patientLoaded">{{patient.name + " " + patient.lastname }}</p>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Prescriptions</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Lastname" formControlName="lastname" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone number" formControlName="patient_phonenumber" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Buddy phone number" formControlName="buddy_phonenumber" required>
      </mat-form-field>
      <mat-card *ngFor="let pill of patient.medicine">
        {{pill.name}}
        <mat-chip-list aria-label="Dosage">
          <mat-chip color="primary" [attr.selected]="dosage !== 0 ? 'selected' : null" *ngFor="let dosage of pill.dosage">{{dosage}}</mat-chip>
        </mat-chip-list>
        <button mat-button color="warn">Change</button>
      </mat-card>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button [routerLink]="['/monitoring']">Monitoring</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
