  <mat-toolbar color="primary">
    <button mat-button [routerLink]="['/setting']">Settings</button>
    <button mat-button [routerLink]="['/monitoring']">Monitoring</button>
    <div style="margin-left:auto; margin-right:0;" [routerLink]="['/setting']">
      Welcome to {{ title }}!
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>

