<mat-toolbar>
  <mat-slide-toggle color="warn" (change)="change($event)">Start monitoring</mat-slide-toggle>
  <button mat-button color="primary" (click)="notifyPatient()">Notify patient</button>
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>First call</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="dot" [ngStyle]="{ 'background-color' : (notifyLvl === 1) ? 'orange': '' }"></span>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Second call</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="dot" [ngStyle]="{ 'background-color' : (notifyLvl === 2) ? 'orange': '' }"></span>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Buddy call</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="dot" [ngStyle]="{ 'background-color' : (notifyLvl === 3) ? 'orange': '' }"></span>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Medication taken</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <span class="dot" [ngStyle]="{ 'background-color' : (deviceMovedRecently || notifyLvl === 0) ? 'green' : 'red' }"></span>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<!--<pre style="text-align: center;">
  {{notifyResponse | json}}
</pre>-->
